@model LiftOff.Models.Job

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Posted</th>
            <th scope="col">Location</th>
            <th scope="col">Position Level</th>
            <th scope="col">Position Type</th>
            <th scope="col">Employer</th>
            @if (User.IsInRole("Employer"))
            {
                <th scope="col">Availability</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.DatePosted</td>
            <td>@Model.Location</td>
            <td>@Model.PositionLevel</td>
            <td>@Model.PositionType</td>
            <td>@Model.Employer</td>
            @if (User.IsInRole("Employer"))
            {
                <td>@Model.IsOpened</td>
            }
            </tr>
    </tbody>
</table>