@model LiftOff.Models.JobViewModels.AddJobViewModel

<h1>@Model.Name</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Posted</th>
            <th scope="col">Location</th>
            <th scope="col">Position Level</th>
            <th scope="col">Position Type</th>
            <th scope="col">Employer</th>
            @if (User.IsInRole("Employer"))
            {
                <th scope="col">Availability</th>
            }
            <th scope="col">Requirements</th>
            <th scope="col">Benefits</th>
            <th scope="col">Tag</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.DatePosted</td>
            <td>@Model.Location</td>
            <td>@Model.PositionLevel</td>
            <td>@Model.PositionType</td>

            @if (User.IsInRole("Employer"))
            {
                <td>@Model.IsOpened</td>
            }
        </tr>
    </tbody>

</table>

<ul>
    @if (Model.Requirements.Count == 0)
    {
       <p>No benefits yet</p>
    }
    else
    {
        @for (int i = 0; i < Model.Requirements.Count; i++)
        {
            <li>@Model.Requirements[i].RequirementName</li>
        }
    }


</ul>

<ul>
    @if (Model.Benefits.Count == 0)
    {
        <p>No benefits yet</p>
    }
    else  
    {
        @for (int i = 0; i < Model.Benefits.Count; i++)
        {
            <li>@Model.Benefits[i].BenefitName</li>
        }
    }
</ul>

<ul>
    @if (Model.Tags.Count == 0)
    {
        <p>No tags yet</p>
    }
    else
    {

        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            <li>@Model.Tags[i].TagName</li>
        }
    }
</ul>

@if (User.IsInRole("User"))
{
<form asp-controller="Job" asp-action="Apply" method="post" asp-route-id=@Model.JobId>
    <input type="submit" value="Apply for this job"/>
</form>
}
<a asp-controller="Job" asp-action="Index">Return to index listing</a>